textarea {
  text-align: left;
  width: 90%;
  height: 100px;
  max-height: 260px;
  resize: vertical;
  padding: 1px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

p {
  text-indent: -2em;
  padding-left: 2em;
}


.table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 490px;
    margin: auto;
}

.table:hover {
  hoge:none;
}

.table th {
    text-align: center;
    padding: 5px 0;
    width: 155px;
}

.table td {
  border: 0;
}

.self {
  background-color: #A0A0A0;
}
.head {
  background-color: #C0C0C0;
}
.addr {
  background-color: #E0E0E0;
}
.info {
  background-color: #E0E0E0;
}
  
.table td{
  text-align: center;
  padding: 7px 0;
  border:solid 1px #000;
  width: 155px;
}

.noborder {
  border: 0px none;
}

.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.table.btn:hover {
  background-color: rgba(255, 0, 0, 1);
}

.table.btn:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*  
.button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
*/