<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/styles.css">
<html>
  <head>
    <meta charset="utf-8">
    <title>FindChromedriver</title>
    <script src="../src/find.js"></script>
  </head>
  <body>
    <p><br><button class="btn" type="button" onclick=""></button></p>
    <div align="center">
      <textarea id="comm" name="comm"><%-data.buffer%></textarea>
    </div>
  </body>
</html>
