.table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 490px;
    margin: auto;
}
  

.table th{
    text-align: center;
    padding: 5px 0;
    width: 155px;
}

.self {
  background-color: #A0A0A0;
}
.head {
  background-color: #C0C0C0;
}
.addr {
  background-color: #E0E0E0;
}
.info {
  background-color: #E0E0E0;
}

  
.table td{
  text-align: center;
  padding: 7px 0;
  border:solid 1px #000;
  width: 155px;
}
  
